#proyectos {
  margin: 0;
}

.btn {
  font-weight: 300;
  font-size: 1.05rem;
  color: var(--negro);
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:hover {
  text-decoration: line-through solid var(--rojo) 1px;
  color: var(--rojo);
}
#proyectos .container {
  padding-top:180px;
  padding-bottom:40px;
}
#proyectos .container img {
  width: fit-content;
  height: 200px;
  filter: grayscale(100);
  opacity: 80%;
  object-fit: cover;
}
#proyectos .container img:hover {
  filter: none;
  opacity: 80%;
}

#proyectos h5 {
  text-align: right;
  font-size: 0.6rem;
  color: black;
  font-weight: 400;
  margin-bottom: 0.1rem;
}
#proyectos h4 {
  text-align: right;
  font-size: 0.8rem;
  color: black;
  font-weight: 300;
  margin-bottom: 0.1rem;
}
#proyectos h3 {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  line-height: 1rem;
}


@media (max-width: 992px) {

  #proyectos .container {
      padding-top:80px;
      padding-bottom:0px;
  }
}